{% extends "base.html" %}

{% block content %}
    <h1>{{ user.Username }}</h1>
	{% if msg %}
      <div id="errormsg">
	  {% for err in msg %}
		{{ err }}<br>
	  {% endfor %}
	  </div>
	  {% endif %}
	  
	<table>
		<tr>
			<th>Username</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Phone Number</th>
			<th>Birthday</th>
			<th>Account Type</th>
			<th>Balance Owed</th>
		</tr>
		<tr>
			<td>{{ user.Username }}</td>
			<td>{{ user.FirstName }}</td>
			<td>{{ user.LastName }}</td>
			<td>{{ user.Email }}</td>
			<td>{{ user.Phone }}</td>
			<td>{{ user.Birthday }}</td>
			<td>{{ user.Type }}</td>
			<td>{{ user.Balance }}</td>
		</tr>
	</table>	
	<br><br>
		<form action={{ url_for('edituser', username=user.Username) }} method="POST">
			<input type="submit" value="Change Email" />
			<input type="hidden" name="field" value="Email" />
		</form>
		<form action={{ url_for('edituser', username=user.Username) }} method="POST">
			<input type="submit" value="Change Phone Number" />
			<input type="hidden" name="field" value="Phone" />
		</form>
		<form action={{ url_for('edituser', username=user.Username) }} method="POST">
			<input type="submit" value="Change Email" />
			<input type="hidden" name="field" value="Email" />
		</form>
		<form action={{ url_for('deleteuser') }} method="POST">
			<input type="submit" value="Delete this user" />
			<input type="hidden" name="id" value={{ user.id }} />
		</form>
{% endblock %}