{% extends "base.html" %}

{% block content %}
    <h1>Users</h1>
		<a href={{ url_for('newuser') }}>Add new User</a>
		<table>
		<tr>
			<td>Username</td>
			<td>Name</td>
			<td>Email</td>
			<td>Type</td>
		</tr>
    {% for user in users %}
		<tr>
			<td><a href={{ url_for('user', username=user.Username) }}>{{ user.Username }}</a></td>
			<td>{{ user.FirstName }} {{ user.LastName }}</td>
			<td>{{ user.Email }}</td>
			<td>{{ user.Type }}</td>
		</tr>
    {% endfor %}
	</table>
{% endblock %}